OPStore-app/ViewController/mobile/getStoresListByStateService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://services.octa44.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.octa44.com" xmlns:intf="http://services.octa44.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://services.octa44.com" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getService">
        <complexType>
          <sequence>
            <element name="MAIN_USERNAME_0" type="xsd:string"/>
            <element name="MAIN_PASSWORD_0" type="xsd:string"/>
            <element name="S_CUSTOMER_STATE_0" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="getServiceResponse">
        <complexType>
          <sequence>
            <element name="getServiceReturn" type="impl:SMR"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="Table">
        <sequence>
          <element name="S_CUSTOMER_ID_0" nillable="true" type="xsd:string"/>
          <element name="S_CUSTOMER_NAME_0" nillable="true" type="xsd:string"/>
          <element name="S_CUSTOMER_PHONE_0" nillable="true" type="xsd:string"/>
          <element name="S_CUSTOMER_ADDRESS_0" nillable="true" type="xsd:string"/>
          <element name="S_CUSTOMER_CITY_0" nillable="true" type="xsd:string"/>
          <element name="S_CUSTOMER_COUNTRY_0" nillable="true" type="xsd:string"/>
          <element name="S_CUSTOMER_ZIP_CODE_0" nillable="true" type="xsd:string"/>
          <element name="S_CUSTOMER_CREDIT_RATING_0" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfTable">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Table"/>
        </sequence>
      </complexType>
      <complexType name="SMR">
        <sequence>
          <element name="tableArray" nillable="true" type="impl:ArrayOfTable"/>
          <element name="Error" nillable="true" type="xsd:string"/>
          <element name="PopupMessages" nillable="true" type="xsd:string"/>
          <element name="StatusBarMessages" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="getServiceResponse">
    <wsdl:part element="impl:getServiceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getServiceRequest">
    <wsdl:part element="impl:getService" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="getStoresListByState">
    <wsdl:operation name="getService">
      <wsdl:input name="getServiceRequest" message="impl:getServiceRequest"/>
      <wsdl:output name="getServiceResponse" message="impl:getServiceResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getStoresListByStateSoapBinding" type="impl:getStoresListByState">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getService">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getServiceRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getStoresListByStateService">
    <wsdl:port name="getStoresListByState" binding="impl:getStoresListByStateSoapBinding">
      <wsdlsoap:address location="http://localhost:7101/OPStore-ViewController-context-root/getStoresListByStateService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>